a {
    cursor: pointer;
}
a[class^="icon_"] { /* erste fuenf Buchstaben sind "icon_" */
    display: inline-block;
    padding-left: 19px;
    min-width: 0px; /* respecting the padding */
    min-height: 16px;
    background-repeat: no-repeat;
    background-position: left 0px;
    vertical-align: text-bottom;
    color: #24437c;
}
a[class^="icon_"]:hover {
    color: #ff3333;
}
a.icon_left { }
a.icon_right {
    padding-right: 20px;
    background-position: right 0px;
}
a.icon_arr_1left { background-image: url(../../../../../assets/images/icons/16/blue/arr_1left.png); }
a.icon_arr_1left:hover { background-image: url(../../../../../assets/images/icons/16/red/arr_1left.png); }
a.icon_arr_1up { background-image: url(../../../../../assets/images/icons/16/blue/arr_1up.png); }
a.icon_arr_1up:hover { background-image: url(../../../../../assets/images/icons/16/red/arr_1up.png); }
a.icon_arr_1right { background-image: url(../../../../../assets/images/icons/16/blue/arr_1right.png); }
a.icon_arr_1right:hover { background-image: url(../../../../../assets/images/icons/16/red/arr_1right.png); }
a.icon_plus { background-image: url(../../../../../assets/images/icons/16/blue/plus.png); }
a.icon_plus:hover { background-image: url(../../../../../assets/images/icons/16/red/plus.png); }
a.icon_trash { background-image: url(../../../../../assets/images/icons/16/blue/trash.png); }
a.icon_trash:hover { background-image: url(../../../../../assets/images/icons/16/red/trash.png); }
a.icon_link-intern { background-image: url(../../../../../assets/images/icons/16/blue/link-intern.png); }
a.icon_link-intern:hover { background-image: url(../../../../../assets/images/icons/16/red/link-intern.png); }
a.icon_folder-empty { background-image: url(../../../../../assets/images/icons/16/blue/folder-empty.png); }
a.icon_folder-empty:hover { background-image: url(../../../../../assets/images/icons/16/red/folder-empty.png); }
a.icon_edit { background-image: url(../../../../../assets/images/icons/16/blue/edit.png); }
a.icon_edit:hover { background-image: url(../../../../../assets/images/icons/16/red/edit.png); }


#layout_container {
	background-color: white;
	padding: 0 0 1em 0;
}
